body {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.calculator {
  background-color: #bf8bff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 250px;
}
.display {
  background-color: #e9dcfa;
  text-align: right;
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 40px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #e5d0ff;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #e9dcfa;
}
